.leftside {
  background-image: linear-gradient(#efc81ac1, #efc81a89),
    url(../../public/image1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-family: Inter;
  font-weight: bold !important;
  text-align: center;
  font-size: 30pt;
  color: #efc81a;
}

.checkbox {
  background-color: #efc81a !important;
  color: white !important;
}

.btncustom {
  background-color: #efc81a !important;
  color: white !important;
  margin-top: 50px;
}

.forgot {
  text-align: right;
}
