.photo1 {
  position: absolute;
  margin-left: 200px;
}

.igredients {
  margin-top: 550px;
}

.video {
  position: absolute;
}

.video button {
  display: block;
  margin-top: 20px;
  width: 200px;
  height: 40px;
}

.input {
  position: absolute;
  margin-top: 320px;
  width: 700px;
  height: 200px;
}

.comment button {
  display: absolute;
  margin-top: 550px;
  margin-left: 230px;
  width: 200px;
  height: 40px;
  color: white;
}

.footer {
  background-color: #efc81a;
  height: 320px;
  text-align: center;
  margin-top: 90px;
}
.footer h3 {
  padding-top: 100px;
  font-size: 50px;
}

.tag {
  display: flex;
  padding-top: 70px;
  justify-content: center;
  text-align: center;
}

.tag p {
  padding-left: 30px;
}
